<div class="center logo">

  <i class="bi bi-wallet2"></i>
  <i class="bi bi-key"></i>


</div>
<div *ngIf="smthFailed">
  <p class="text-danger">{{failedMessage}} </p>
</div>
<button type="submit" class="btn btn-info" (click)="changeMode()" >{{editButton}}</button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Strona internetowa</th>
      <th scope="col">Opis</th>
      <th scope="col">Login</th>
      <th scope="col">Hasło</th>
      <th scope="col">Typ</th>
      <th scope="col">Operacje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of userPasswords">
      <td>{{item.id}}</td>
      <td>{{item.url}}</td>
      <td>{{item.description}}</td>
      <td>{{item.login}}</td>
      <td>{{item.password}}</td>
      <td>{{item.type}}</td>

      <td style="width:400px;">
        <div class="akcje">
          <button type="submit" class="btn btn-info" (click)="decryptPassword(item)" *ngIf="!item.isDecrypted">Deszyfruj</button>
          <button type="submit" class="btn btn-info" (click)="encryptPassword(item)" *ngIf="item.isDecrypted">Ukryj</button>
          <button type="submit" class="btn btn-info" (click)="displayShareForm(item)" [disabled]="editMode || item.type === 'SHARED_BY_ME'" >Udostępnij</button>
          <button type="submit" class="btn btn-info" (click)="deletePassword(item.id)" [disabled]="editMode" >Usuń</button>
        </div>
      </td>

    </tr>
  <tr *ngIf="displayShare">
 <td>Login uzytkownika:</td>
    <td> <input type="text" [(ngModel)]="shareToWho"></td>
    <td><button type="button" class="btn btn-info ml-5" (click)="sharePassword()">Udostępnij</button></td>



  </tr>
  </tbody>
</table>
