<body>
<div class="center-content">
  <div class="left-side"></div>
  <div class="content">
    <main>

      <div class="center icon">
        <i class="bi bi-box-arrow-in-right"></i>
      </div>
      <div class="center">
        <form>

          <div class="form-group" [formGroup]="loginForm">
            <label>Login</label>
            <input class="form-control" formControlName="userName" placeholder="Login">
          </div>
          <div class="form-group" [formGroup]="passwordForm">
            <label>Hasło</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Hasło">
          </div>
          <div class="bottom">
            <button type="submit" (click)="login()"  class="btn btn-info">Zaloguj się</button>
            <a mat-button routerLink="/register">Nie masz jeszcze konta? Zarejestruj się!!</a>
          </div>
          <div *ngIf="smthFailed">
            <p class="text-danger">{{failedMessage}} </p>
          </div>
        </form>

      </div>

    </main>


  </div>

  <div class="right-side"></div>
</div>
</body>
