<div class="center icon">
  <div>
  <i class="bi bi-asterisk"></i>
  <i class="bi bi-asterisk"></i>
  <i class="bi bi-asterisk"></i>
  </div>
  <i class="bi bi-arrow-repeat"></i>
</div>
<div class="register-form">
  <div class="register">
    <form>

      <div class="form-group">
        <label>Hasło</label>
        <input type="password" name="newPassword" class="form-control" [(ngModel)]="changePasswordRequest.newPassword" (ngModelChange)="passwordChange($event)" placeholder="Hasło">
      </div>
      <div class="form-group">
        <label>Powtórz hasło</label>
        <input type="password" name="replacedPassword" class="form-control" [ngModel]="replacedPassword" (ngModelChange)="replacedPasswordChange($event)" placeholder="Powtórz hasło">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" name="keepPasswordAsHash" [(ngModel)]="changePasswordRequest.keepAsHash">
        <label class="form-check-label">HMAC</label>
      </div>
      <div class="bottom">
        <button [disabled]="!passwordIsValid" type="button" (click)="changePasswordReq()" class="btn btn-primary">Zmień hasło</button>

      </div>
      <div *ngIf="smthFailed">
        <p class="text-danger">{{failedMessage}} </p>
      </div>
    </form>
  </div>
  <div class="password-validator">
    <app-password-validator></app-password-validator>
  </div>
</div>
