<div class="content">
  <ul>
    <li><div class="li-item"> <i class="bi" [ngClass]="passwordValidator.validLength()"></i>Minimum 8 znaków</div></li>
    <li><div class="li-item"> <i class="bi" [ngClass]="passwordValidator.validSmallLetter()"></i>Małą literę</div></li>
    <li><div class="li-item"> <i class="bi" [ngClass]="passwordValidator.validBigLetter()"></i>Wielką literę</div></li>
    <li><div class="li-item"> <i class="bi" [ngClass]="passwordValidator.validNumber()"></i>1 cyfrę</div></li>
    <li><div class="li-item"> <i class="bi" [ngClass]="passwordValidator.validSpecial()"></i>1 znak specjalny</div></li>
    <li><div class="li-item"> <i class="bi" [ngClass]="passwordValidator.validReplacedPassword()"></i>Hasła są takie same</div></li>
  </ul>
</div>

