<body>
<div class="center-content">

  <div class="left-side"></div>

  <div class="content">
    <app-navbar>
      <app-tab-list>
        <app-tab ngDefaultControl [(ngModel)]="selectedTab" [value]="tabs.MyPasswords">Moje hasła</app-tab>
        <app-tab ngDefaultControl [(ngModel)]="selectedTab" [value]="tabs.AddPassword">Dodaj hasło</app-tab>
        <app-tab ngDefaultControl [(ngModel)]="selectedTab" [value]="tabs.ChangePassword">Zmień hasło</app-tab>
        <app-tab ngDefaultControl [(ngModel)]="selectedTab" [value]="tabs.IpAddresses">Adresy Ip</app-tab>
        <app-tab ngDefaultControl [(ngModel)]="selectedTab" [value]="tabs.UserLogins">Logowania</app-tab>
        <app-tab ngDefaultControl [(ngModel)]="selectedTab" routerLink="/login" [value]="tabs.LogOut">Wyloguj</app-tab>



      </app-tab-list>
    </app-navbar>

    <main>
      <app-add-password *ngIf="selectedTab == tabs.AddPassword" ></app-add-password>
      <app-change-password *ngIf="selectedTab == tabs.ChangePassword"></app-change-password>
      <app-passwords *ngIf="selectedTab == tabs.MyPasswords"></app-passwords>
      <app-ip-addresses *ngIf="selectedTab == tabs.IpAddresses"></app-ip-addresses>
      <app-user-logins *ngIf="selectedTab == tabs.UserLogins"></app-user-logins>
    </main>


  </div>

  <div class="right-side"></div>
</div>
</body>
